/** Add css rules here for your application. */


/** Example rules used by the template application (remove for your app) */
.toolHeading {
  font-size: 1.5em;
  font-family: "Montserrat";
  font-weight: bold;
  color: #777777;
 }

.toolHeadingLink {
  font-size: 1.5em;
  font-family: "Montserrat";
  font-weight: bold;
  color: #777777;
 }
 
 .toolHeadingLink:hover {
  font-size: 1.5em;
  font-family: "Montserrat";
  font-weight: bold;
  color: #7777FF;
  text-decoration: underline;
 }

 .toolContent {
  margin-bottom:1em; 
  font-family: "Montserrat";
 }
 
 .searchPanel {
 	width: 470px;
 	background-color: #f5f5f5;
 	margin-left:auto; 
    margin-right:auto; 
      font-family: "Montserrat";
 }
 
 .searchInput {
 	width: 300px;
 }
 
 .toolPanelSmall {
 	width: 80%;
 	margin-left:auto; 
    margin-right:auto; 
    max-width: 600px;
    min-width: 400px;
    margin: 5px;
    display: inline-block; 
 }
 
 
 .toolPanelBig {
 	width: 80%;
 	margin-left:auto; 
    margin-right:auto; 
    max-width: 1000px;
    min-width: 400px;
    margin-bottom: 5px;
 }
 
 
 .toolhr {
 	width: 90%;
  	border-bottom: 1px;
 }
 
 
 .presetSearch {
 	margin-left:30px; 
    margin-right:30px;
     
    text-align: center;
    font-family: "Montserrat";
    color: #7777FF;
    text-decoration: underline;
 }
 
 
 .vaiheader {
 	height: 150px;
 	width: 100%;
 	scrolling: "no;
 	overflow-x:hidden;
	overflow-y:hidden;
 } 
 
 .resultsFlow {
 		margin-left:auto; 
   		margin-right:auto; 

 }
 
 .com-sencha-gxt-theme-triton-client-base-panel-Css3FramedPanelAppearance-Css3FramedPanelStyle-header
 {
 	background: #005a9b !important;
 }